<mat-card id="meta-journal-window">
    <div *ngIf="activeText == 'cover-letter'">
        <h1>Istae litterae adsignantur. Non festinarem nisi Deus meus me fecit.</h1>
        <br>
        <p>
            Postscript: Please do not delay. Hasten what you must do, and come find me at the summer quai.
            Admist all the verses, where our blue dreams met.
            The meadow of my heart is bare for you.
            - Autumn (Q)<br>
            PS: Since you are here, I have left some letters penned throughout my journey in the Twelve Verses. As you are aware of my real identity within the Empire, kindly do not let prying eyes see this.
        </p>
    </div>
    <hr>
    <div *ngIf="activeText == 'OrangeSummerLove'">
        <h1>Red Carbuncle</h1>
        <hr>
        <div>
            <p>I hound</p>
            <p>You answer</p>
            <p>We are together</p>
        </div>
        <h1>Metal Carbuncle</h1>
        <hr>
        <div>
            <p>Promise me <span class="strikethrough">two</span> one thing</p>
            <p id="liberation-p">Our liberation</p>
        </div>
        <h1>My Blue Days With you</h1>
        <hr>
        <div>
            <p>Rinse my hands</p>
            <p>In the River's foam</p>
            <p>Two oceans blue, <span class="strikethrough">doves</span> seagulls in midflight</p>
            <p>The midnight clock turned for the last time</p>
            <p>Your fire set me on Love</p>
        </div>
        <h1>Arclight on the Moon</h1>
        <hr>
        <div>
            <p>God whispered to me</p>
            <p>He wants you to be with him</p>
            <p>He's with you right now</p>
            <p>Nothing old, nothing new</p>
        </div>
        <h1>Psalm 42:8 (NIV)</h1>
        <hr>
        <div>
            <p>By day the Lord directs his love, at night his song is with me— a prayer to the God of my life.</p>
        </div>
    </div>
    <div *ngIf="activeText == 'BlueSolaceRain'">
        <h1>Dyerden</h1>
        <p>(PS: I was not sure how to name this. Do not laugh at my attempts.)</p>
        <hr>
        <div>
            <p>The rain hath a cold promise made to wash away my fear.</p>
            <p>In my childhood it swore thus, and in my adulthood it remaineth like a dog.</p>
            <p>Yet instead of my redemption obtained, my irk grows by the year.</p>
            <p>So my body continues to scorch and to relieve and to feel as sog.</p>
            <p>How often hath the rain been slippery and a liar most jesterly?</p>
        </div>
        <br>
        <h1>A heart of dust</h1>
        <hr>
        <div>
            <p>Whence shall I find true love and destiny?</p>
            <p>Should I labor for no merit and only calamity?</p>
            <p>Hath my blacksmith forged a blade unsheathed and made to rust?</p>
            <p>If no rivers be strong enough for this heart of dust,</p>
            <p>and until my soul rejoices of having a respite of honey and dew found,</p>
            <p>my spirit shall not rest.</p>
        </div>
        <br>
        <h3>Attachments</h3>
        <br>
        <h1>Pig tar</h1>
        <hr>
        <div>
            <p>One hand grabs my left ankle, and the other my right ear.</p>
            <p>It is a fool who shelters doubt harder than ebony.</p>
            <p>But whom shall be my judge, I who hath transpired with worms?</p>
            <p>I hath no good purpose to peruse the hearts of others.</p>
            <p>For my love revealed mine heart to be fouler than pig tar.</p>
        </div>
        <br>
        <h1>The Freedom</h1>
        <hr>
        <div>
            <p>A beloved bride most beautiful thy deserved.</p>
            <p>Instead thee must content with a pig.</p>
            <p>Should I now lament for another thousand years?</p>
            <p>Hath thy not commanded for the red links to be made distinct once again?</p>
        </div>
        <h1>The Stretching Desert</h1>
        <hr>
        <div>
            <p>The desert keeps stretching on</p>
            <p>The night is still and fury</p>
        </div>
        <h1>The Creature That Escaped My Grasp</h1>
        <hr>
        <div>
            <p>A slimy shoddy creature</p>
            <p>Frothy, slithering, murky thing</p>
            <p>Sliding between my fingers</p>
            <p>escaping the light both and proud and strong</p>
            <p>Alone do I plan its future</p>
            <p>Its tiny, heaving breathing inspires love</p>
            <p>From nothing to creature in the first course</p>
            <p>What next may come in spring?</p>
        </div>
    </div>
    <div *ngIf="activeText == 'StarryPalace'">
        <h1>Cosmos</h1>
        <hr>
        <div>
            <p>Hath thee a pair in this world?</p>
            <p>Yet countless a leaf doth scatters in the wind.</p>
            <p>Tossed about like an ant over the scarlet hurricane's edge</p>
            <p>How does a nightingale know its resting place?</p>
            <p>Such that admist the turmoil, that two people be in one place</p>
            <p>Tis' a miracle that two such souls met.</p>
        </div>
        <h1>The Lady Sitting at the Edge of the Universe</h1>
        <hr>
        <div>
            <p>
                While cosmic lights streaked around her, she was sitting at the center of the universe.
                When the rim of the black hole ate a new sun, she swayed to the left.
                While civilizations rose and fell, she swayed to the right. 
                When she stretched her weary back, suns died, and when she stretched her weary arms, kings were made. 
                In all these motions, it seemed to her that her lover would finally come.</p>
        </div>
        <h1>The End of Art is Silence</h1>
        <hr>
        <div>
            <p>
                Might a war general come to yearn for peace?
                An elite soldier hot in war, to think of lambs?
                Would skilled artisans labor to find beauty if they came face to face?
                Good men must hope for the end of all endeavors;
                The labor, task and job.
                Such as learned words betray.
                Till obedient silence gives birth to complete fulfillment.
            </p>
        </div>
    </div>
    <div id="screenplay" *ngIf="activeText == 'Evening in the Promised Land'">
        <h1>Act 1: My Promise to the Future</h1>
        <hr>
        <ul>
            <li>Freyja: A decorated warrior queen of the Norse Kingdom. After an illustrious military career, conquering half of the Northern Kingdoms with her sword and bow, she now enjoys making cheese in the rural side.</li>
            <li>Catherine: A young, eager warrior of the Norse Kingdom. She is eager to prove her worth to Freyja, although she lacks dreams of her own.</li>
            <li>Hilda: A pessimistic warrior of the Norse Kingdom. </li>
            <li><em>Note: this is <strong>not</strong> an autobiography!</em></li>
        </ul>
        <hr>
        <div class="play-body">
            <p>Summary: Once a warrior queen, Freyja, retreats to the ruralside to become a cheese maker.
                The king's elite duo, Catherine and Hilda, are sent by the king to convince her to fight for the empire
                again. Freyja laments the lack of vision in the younger generations of warriors.
                The queen is unconvinced of the king's plea, and shares her visions of the promised future.
            </p>            
            <h2 class="centered-text">Freyja</h2><p>A little while more, and my white horse shall ride upon the sunset.
                Three green lands of lush await to soar before my eyes; I hear happier days, mellow melodies fired from my slanted bow.
                The village of little folk and the harmony of star lovers befall my peaceful walk under late dusk. Oh, I long for the day to come upon me.                              
            </p>
            <h2 class="centered-text">Freyja</h2><p>If only brief, the churning of cheese doth resemble the quiet evening; for a fraction of a string, spontaneously it becomes a hardening mass. Its mystery is to slowly take the form of rock, yet as it was once creamy and soft.
                Transient and committed to its new destiny. Much like mine life, but in the reversed moon.
            </p>
            <h2 class="centered-text">Catherine</h2><p>Thine sight is most fortunate; my scout has been faithful in his duty.
                Hilda, there the old queen stands by the waterfall, molding her hands into a machine to make a yellow rock of sorts.
            </p>
            <h2 class="centered-text">Hilda</h2><p>Her golden hair is as fair as the bards sing in our town.</p>
            <h2 class="centered-text">Freyja</h2><p>Three nights upon the green rocks won't escape my king's arrows, I see plainly.</p>
            <h2 class="centered-text">Catherine</h2><p>Queen Freyja. liken my king to a twitching fool's dagger, fretting to erase all shadow.</p>
            <h2 class="centered-text">Freyja</h2><p>And yet he aims to profit well from sending his most elite. Must we draw blood upon the open grass?</p>
            <h2 class="centered-text">Hilda</h2><p>The night shall befall us. Heavens' scare those who take arms in the dark.</p>
            <h2 class="centered-text">Freyja</h2><p>Then explain yourselves at once for bothering my peace, or by Heavens' clerk above, I will cut the darkness itself with my bare hands and your heads next.</p><br>
            <h3>PS: I am unsure if Frejya should actually be threatening them in that situation, as she is currently cheese making. -Q</h3>
        </div>
        <h1>Act 2: Plea to Help <span class="KEYWORD_CUE">Neptunia</span> and Grania</h1>
        <hr>
        <ul>
            <li>Freyja: A decorated warrior queen of the Norse Kingdom. After an illustrious military career, conquering half of the Northern Kingdoms with her sword and bow, she now enjoys making cheese in the rural side.</li>
            <li>Catherine: A young, eager warrior of the Norse Kingdom. She is eager to prove her worth to Freyja, although she lacks dreams of her own.</li>
            <li>Hilda: A pessimistic warrior of the Norse Kingdom. </li>
            <li><em>Note: this is <strong>not</strong> an autobiography!</em></li>
        </ul>
        <hr>
        <div class="play-body">        
            <h2 class="centered-text">Catherine</h2>
            <p>
                Surely the sole of your bloodied boots have marched upon Neptunia and Grania, but it may sound uncanny that your memories will not support my king's claim. 
                For I speak with the King's word. The land of Neptunia has overturned, once where a strange blue rose's thorn covered each small tree, now each became otherwise; the thorn lost its function to harm.
                And grisly clouds and an abandoned throne for Grania - the eldest prince missing in holy lands of clouds; erst the youngest partying admist unrecommended company in orange inns. In such mad journeys, 
                there has been no straight brow of the ship - no captain of our founding Empire's blossom can sail straight fuller upon the breezy sea.
            </p>
            <h2 class="centered-text">Hilda</h2>
            <p>
                Or have you heard of the denizens of Demizia who have grown unable to carry the lightiest axe to the tree.
            </p>
            <h2 class="centered-text">Freyja</h2>
            <p>
                And ere I make cheese to please the God and me. What have thine to expect from the ones whose eyes have set to higher things yet? 
            </p>
            <h2 class="centered-text">Hilda</h2>
            <p>
                But what could be highest than to save thine kingdom.
            </p>
            <h2 class="centered-text">Freyja</h2>
            <p>
                If the leaf shakes in the forest, or the pond is disturbed in the lake meadow, or the bear hungry in the rocks, does a natural reason exist to bother the
                serene artisan in the hills?
            </p>
            <h2 class="centered-text">Catherine</h2>
            <p>
                Thee are no serene artisan, but the bloodied queen of Norsefolk, the mother of war herself. If thee be an artisan, it to be an artisan of death!
            </p>
            <h2 class="centered-text">Freyja</h2>
            <p>
                This morning I have brought the milk in the dankness of my workshop, and churned it six more times, and it became cheese. I have set my clothes to the clear water, and washed them and sang a lullaby to my God.
            </p>
            <h2 class="centered-text">Hilda</h2>
            <p>
                And hath thee thought to slaughter us where we stood and came upon your work undiscovered.
            </p>
            <h2 class="centered-text">Catherine</h2>
            <p>
                Thy feat of the sword far exceeded mine king's at the same age; thy wrists have natural grace to spin and pull at the opportune moment, and thine mind has eyes to see blows before they exist in your opponent's mind eye.
                How can thee be making cheese upon bearing such august power?
            </p>
            <h2 class="centered-text">Freyja</h2>
            <p>
                Dare you question me? That thee must be foolish to enter my homesglade in this moment, and make me utter the same words on the river's fresh. My business is to my own.
            </p>
        </div>
    </div>
</mat-card>   
<div class="file-selection">
    <button (click)='setActiveText("cover-letter")'>Cover Letter</button>
    <br>
    <button (click)='setActiveText("OrangeSummerLove")'>Carbuncle Arclight</button>
    <br>
    <button (click)='setActiveText("BlueSolaceRain")'>Blue Solace Rain</button>
    <br>
    <button (click)='setActiveText("StarryPalace")'>Starry Palace</button>
    <br>
    <button (click)='setActiveText("Evening in the Promised Land")'>Evening in the Promised Land</button>
</div>