<div class="quest-idler-routes">
    <button *ngIf="partyModeActive && showPartyButton" type="button" (click)="acceptPartyRequest()" class="button__accept-party-request">Accept Party Request</button>
    <button id="restartOverButton" type="button" (click)="restartGame();">Restart Over</button>    
</div>
<div *ngIf="partyModeActive && showPartyButton" class="bard-declaration">
    <h1>{{activePartyQuest!.getRegistrants()[1].name}} wants to party with you. Click on the button above to start a new quest together.</h1>
</div>
<app-single-player-view [loots]="loots" [playerRef]="playerRef" *ngIf="!partyModeActive"></app-single-player-view>
<app-avatar-party-display [lastLootGained]="lastLootGained"  [promptList]="promptList"  (activePartyQuestChange)="updatePartyQuestState($event)" [(activePartyQuest)]="activePartyQuest" *ngIf="partyModeActive && showPartyMode"></app-avatar-party-display>