<div class="carousel-cell-info" style="font-size: 4em; color: white;">
    <h1 id="carousel-picker-logger"></h1>
</div>

<!-- Menu Visualization Interface -->
<div id="menu-viz" class="menu-visualization-interface-bg">
    <!-- Rotated boxes container -->
    <div id="menu-viz-rotated-boxes-container" class="my-is-flex is-vertical is-centered is-rotated-and-translated-y">
        <!-- Row container -->
        <div class="menu-viz-row-container is-vertical">          
        <h1>News Today Service</h1>
        <div class="shutter-image-container">
            <div id="shutter-image-5" class="image-shutter-closed"></div>
            <img class="image-square" src="" alt="" />
        </div>
        </div>             
        <div class="menu-viz-row-container is-vertical">
        <div>Basilica Service</div>
        <div class="shutter-image-container">
            <div id="shutter-image-4" class="image-shutter-closed"></div>
            <img class="image-square" src="" alt="" />
        </div>
        </div>
        <div class="menu-viz-row-container is-vertical">
        <div>Dungeon Tamagotchi Service</div>
        <div class="shutter-image-container">
            <div id="shutter-image-3" class="image-shutter-closed"></div>
            <img class="image-square" src="" alt="" />
        </div>
        </div>
        <div class="menu-viz-row-container is-vertical">
        <div>Dining Hall Service</div>
        <div class="shutter-image-container">
            <div id="shutter-image-2" class="image-shutter-closed"></div>
            <img class="image-square" src="" alt="" />
        </div>
        </div>
        <div class="menu-viz-row-container is-vertical">
        <div>Quiet Garden Service</div>
        <div class="shutter-image-container">
            <div id="shutter-image-1" class="image-shutter-closed"></div>
            <img class="image-square" src="" alt="" />
        </div>
        </div>      
        <div class="menu-viz-row-container is-vertical">
        <div>Home Dashboard</div>
        <div class="shutter-image-container">
            <div id="shutter-image-0" class="image-shutter-closed"></div>
            <img class="image-square" src="" alt="" />
        </div>
        </div>                                                          
    </div>
    
    <!-- Horizontal Labels container -->
    <div id="menu-viz-horizontal-labels-container" class="my-is-flex is-left-centered">
        <!-- Row container -->
        <div class="menu-viz-horizontal-row-container">          
        <div class="my-is-flex is-vertical">
            <h1>Home Dashboard</h1>
            <p>Check nearby Metaverse events and the calendar.</p>  
        </div>
        </div>        
        <div class="menu-viz-horizontal-row-container">          
        <div class="my-is-flex is-vertical">
            <h1>Quiet Garden Service</h1>
            <p>Grow blockchain ready ethereal crops and share them with your friends. Contemplate digital growth.</p>
        </div>
        </div>        
        <div class="menu-viz-horizontal-row-container">          
        <div class="my-is-flex is-vertical">
            <h1>Dining Hall Service</h1>
            <p>Cozy template environment for community dining events.</p>
        </div>
        </div>        
        <div class="menu-viz-horizontal-row-container">          
        <div class="my-is-flex is-vertical">
            <h1>Dungeon Tamagotchi Service</h1>
            <p>Nurture a digital NFT-ready Entity's knowledge and stats through quests, and sell them.</p>
        </div>
        </div>        
        <div class="menu-viz-horizontal-row-container">          
        <div class="my-is-flex is-vertical">
            <h1>Basilica Verse</h1>
            <p>Go to church in the metaverse. Contemplate. Read scripture.</p>
        </div>
        </div>        
        <div class="menu-viz-horizontal-row-container">          
        <div class="my-is-flex is-vertical">
            <h1>News Today Service</h1>
            <p>Read daily news.</p>
        </div>
        </div>        
    </div>
    <!-- Keyboard Nav menu -->      
    <div id="navbar-keyboard-container">
        <nav class="navbar-keyboard-flex is-bottom-center-fixed">
        <h1 class="branding-text">Microservices</h1>
        <div id="keyboard-rect-0" class="rectangle keyboard-rectangle"></div>                    
        <div id="keyboard-rect-1" class="rectangle keyboard-rectangle"></div>
        <div id="keyboard-rect-2" class="rectangle keyboard-rectangle"></div>
        <div id="keyboard-rect-3" class="rectangle keyboard-rectangle"></div>                    
        <div id="keyboard-rect-4" class="rectangle keyboard-rectangle"></div>
        <div id="keyboard-rect-5" class="rectangle keyboard-rectangle"></div>
        </nav>
    </div>
    <!-- Keyboard Selection Indicator -->
    <div class="rectangle selection-indicator is-bottom-center is-outside-viewport bg-is-white"></div>
    