.carousel {
    height: 100vh;
    z-index: 3;
}

.carousel-cell {
    margin-right: 20px;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    
    z-index: 3;

    transform: translateY(0%);
}

.main-carousel {
    height: 100vh;
    width: 100vw;
}

.carousel-cell-info {
    position: absolute;
    bottom: 20vh;
    left: 45vw;
}

.carousel-cell img {
    display: block;
    height: 100vh;
    width: 100vw;    
    z-index: 3;
}

.flickity-viewport {
    z-index: 2;
}
